
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  margin-top: 15%;
}
button {
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover { background-color: #0056b3; }
